.App {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 20rem;
  height: inherit;
  margin: 12px;
  flex: none;
}

.card:hover {
  transform: scale(1.003);
  background-color: rgb(245, 239, 239);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 200ms ease-in;
}

input {
  margin: 4px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
  font-size: 4em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.home-nav:hover {
  color: lightgray;
}

label {
  width: 120px;
  text-align: right;
}

.text-area-label {
  text-align: left;
  width: 300px;
}

.notes-display {
  width: 300px;
  height: 120px;
}





